body{background-color:black;}
#div1{
    width: 940px;
    margin: 0px auto;
    text-align: center;
    margin-top: 200px;
    
}
#botao_recarregar{
    border-radius: 5px;
    color:black;
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: black;
    
}

.botao-style{
    height: 50px;width: 50px;text-align: center;border: solid;
}
@media screen and (max-width:480px) {
    #div1{
        width: auto;
    }
}
